<h1>CuteFTP</h1>
<p>The guide will show you how to use CuteFTP to connect to your slot here at Feral via FTP/SFTP. It shouldn't require any expertise to use, but it might be helpful to read the <a href="../ftp">general FTP/SFTP guide</a> first or if you encounter a more general problem.</p>

<h2>Connecting to your slot</h2>
<p>First of all you'll need to download and install CuteFTP according to its instructions. If you don't already have the software you can find a download link in the External links section at the bottom of this guide.</p>
<p>You'll need the following information to connect:</p>
<ul>
    <li>Server/hostname</li>
    <li>Username</li>
    <li>Password</li>
</ul>
<p>You can find each of these by clicking on the <samp>Software</samp> link of your <a href="/wiki/getting_started/web_manager">Feral web manager</a>.</p>

<p>Open CuteFTP, click on <samp>File</samp>, hover over <samp>New</samp> and select <samp>SFTP (SSH) Site...</samp>. A Site Properties window will open. Give your connection a label, then put in your server/hostname, username and password which we obtained from the slot's Software page. You won't need to add a port number to the hostname, as CuteFTP will automatically use the default port. But, if you want to, click the <samp>Type</samp> tab and enter a port number there. Your two options are <samp>22</samp> or <samp>22222</samp>.</p></p>
<figure>
    <img alt="Screenshot of the CuteFTP Site Properties window, showing server, username and password field locations" src="cuteftp/cuteftp-connection-manager.png">
    <figcaption>In the text above, replace <var>Server</var>, <var>Username</var> and the password with the details found on your slot's <samp>Software</samp> page</figcaption>
</figure>

<h2>Usage</h2>
<p>Once connected you'll see your local directory structure to the left and your slot's folders in the right-hand panel. To download, just select the download location from the left-hand side and drag your folder/files over. If you want to download using multiple segments, you'll need to <kbd>right-click</kbd> the data to be downloaded, hover over <samp>Download Advanced</samp>, then <samp>Multi-part Download</samp> and select <samp>MAX</samp>. See the section below for configuring multisegmented downloading.</p>

<h3>Speed issues and CuteFTP Pro</h3>
<p>The Pro version of CuteFTP allows you to download files in multiple segments. This can help increase transfer speeds so is something worth trying if your downloads are not reaching your maximum speeds.</p>
<p>To set up multisegmented downloading, press <kbd>Alt</kbd> + <kbd>7</kbd> to bring up the Global Options. Click on <samp>Transfer</samp> on the list to the left-hand side, then enter <kbd>8</kbd> in the box for <samp>When selecting MAX...</samp>.</p>

<h3>Displaying hidden files</h3>
<p>If you've decided to connect via FTP, you can view hidden files and directories by selecting your connection from the Site Manager and pressing <kbd>Alt</kbd> + <kbd>Enter</kbd>. This will bring up the Site Properties. On the <samp>Actions</samp> tab, click on the <samp>Filter...</samp> button. Check/tick the box named <samp>Enable server side filtering</samp> and enter <kbd>-a</kbd> in the Remote filter box.</p>

<h3>Resuming incomplete transfers</h3>
<p>To get into the options for handling incomplete transfers, press <kbd>Alt</kbd> + <kbd>7</kbd> then click on <samp>Smart Overwrite</samp> on the left-hand side. It's listed under <samp>Transfer</samp>.</p>
<p>When it comes to matching files you can simply select <samp>Resume</samp> from its dropdown. Matching folders is a little more involved - select <samp>Use Rules</samp> from the dropdown, then click <samp>Configure Rules</samp>. You'll see four dropdown menus at the top - make the choices so that the sentence looks like this:</p>
<p><samp>If destination file date is no matter and size is no matter during any transfer then resume</samp></p>
<p>Once this is done, click on <samp>ADD &gt;&gt;</samp> and then <samp>OK</samp>.</p>

<h2>External links</h2>
<ul>
    <li><a href="https://www.globalscape.com/cuteftp#download-table">CuteFTP download page</a></li>
    <li><a href="http://help.globalscape.com/help/guides/">Documentation</a></li>
</ul>