<h1>Deluge - Plugins</h1>
<p>This article will take you through installing plugins for Deluge. You should not need any previous expertise to use it, but naturally should <a href="../deluge#install_deluge">install Deluge</a> first.</p>

<h2>Downloading</h2>
<p>Your first port of call should be the <a href="http://dev.deluge-torrent.org/wiki/Plugins"> official Deluge plugins list</a>. On that page you can see which plugins come bundled with Deluge and which should be installed separately. It will also tell you if the plugin has web UI support. The vast majority of plugins do not have web UI support.</p>
<p>Each plugin is installed as a <samp>.egg</samp> file from a location on your local device, so download it from the official plugin page above (or the Deluge forums, if it hasn't yet made the 3rd Party list). Unless you picked the Python 2.6 version of the thin client for some reason, choose the 2.7 version of the plugin.</p>

<h2>Installation</h2>
<p>The process to install plugins is the same irrespective of whether you use the web UI or the thin client, but the thin client supports a lot more plugins. Click <samp>Preferences</samp>, then <samp>Plug-ins</samp>. Halfway down the dialog is a button named <samp>Install</samp>. Click on <kbd>Browse</kbd> to find and select the <samp>.egg</samp> file from your device. It should then be added to the plugins list. Make sure the checkbox for the plugin is selected and click <samp>Apply</samp>, then <samp>OK</samp>. You may need to refresh the web UI to view certain changes, for example if the plugin adds a tab to the web UI.</p>