<h1>ruTorrent and rTorrent - changing versions</h1>
<p>When you install rTorrent and ruTorrent from the Install Software link you're given the latest version that Feral provides. This is currently 0.9.6 in the case of rTorrent and 3.8 for ruTorrent.</p>
<p> Some trackers will restrict use of certain versions of rTorrent so it's handy to have some options. It's possible to install and use different versions of both rTorrent and ruTorrent if need be using the instructions in each section below. Whilst your choice of rTorrent is restricted to what is held at Feral it should be possible to install any new version of ruTorrent that's released without waiting for staff.</p>
<p>Naturally, this guide assumes you know how to <a href="../rutorrent">install ruTorrent</a> (and have done so). Plugins are also added either via SSH or FTP and you may need to <a href="../../slots/ssh">connect to your slot via SSH</a> to configure some plugins. You will be instructed to connect via SSH where this is the case.</p>

<h2>Installing a different version of ruTorrent</h2>
<p>The version of ruTorrent installed by Feral's software manager is the most recent (3.8). Users are not upgraded automatically so you may be using an older version (most likely 3.6). If you're using an earlier version and wish to upgrade the easiest way is to <a href="/wiki/getting_started/web_manager#install">reinstall ruTorrent</a>.

<h2>Installing a different version of rTorrent</h2>
<p> The list below contains the versions of rTorrent and libtorrent that are available (the number after the _w is the libtorrent version number). The versions followed by a * were released in tandem and so should be preferred. Please note that versions ending in an odd number were classed as development releases so may have stability issues.</p>
<pre><samp>0.9.6_w0.13.6 *
0.9.4_w0.13.6
0.9.4_w0.13.4 *</samp></pre>

<p> Older versions of rTorrent might not work very well with newer versions of ruTorrent so if you wish to use ruTorrent you may find yourself limited in the options you have.</p>
<p> Install the version and restart rTorrent to activate it as follows:</p>
<pre><kbd>echo -n '<var>version</var>' > ~/private/rtorrent/.version
pkill -fu "$(whoami)" 'SCREEN -S rtorrent'
screen -S rtorrent rtorrent</kbd></pre>
<p>Replace <var>version</var> in the first line of the commands above with the full version from the list above.</p>

<p> You can verify the correct version is running with this command (you should see a process running which contains your chosen version number):</p>
<p><kbd>ps x | grep opt/rtorrent | grep -v grep</kbd></p>

<h2>Troubleshooting</h2>
<dl>
    <dt>When I restart rTorrent I get a message "screen is terminating"</dt>
    <dd>
        <p>Try starting up rTorrent without screen (just type rtorrent and press <kbd>enter</kbd>). If you see a message like the following, please double-check you've selected a correct version:</p>
        <p><samp>/usr/local/bin/rtorrent: line 24: /opt/rtorrent/version_entered/bin/rtorrent: No such file or directory</samp></p>
    </dd>
</dl>