<h1>Plex</h1>
<blockquote><a href="https://support.plex.tv/articles/200288286-what-is-plex/">Plex</a> lets you stream your media anywhere, on any device.</blockquote>
<p>We provide support for running a full instance (as opposed to shared) Plex Media Server on a slot. The server has access to all of your media and enables streaming to other devices.</p>

<h2>Installation</h2>
<p>To set up Plex Media Server on your slot, please do the following:</p>
<ol>
    <li><a href="https://www.plex.tv/sign-up/">Sign up</a> to www.plex.tv.</li>
    <li>Create and place your username and password in the file <kbd>~/private/plex.login</kbd> with the format <kbd><var>username</var>:<var>password</var></kbd> (that is, your username and password on one line separated by a colon). Replace <var>username</var> with your plex.tv username or e-mail and <var>password</var> with your plex.tv password.</li>
    <li>Wait 5 minutes for the system to check and begin the installation.</li>
    <li>Once processed <kbd>plex.login</kbd> will be removed (regardless of a successful install).</li>
    <li>If the configuration was successful, the file <kbd>~/private/plex.url</kbd> and folder <kbd>~/private/plex</kbd> will be created.</li>
</ol>
<p>Finally, visit the URL found in <kbd>~/private/plex.url</kbd> in your browser to use Plex. You should not put any media inside the <kbd>~/private/plex</kbd> as updating involves deleting it; instead, use a different location.</p>

<h2>Starting, stopping and restarting Plex</h2>
<p>To start or restart Plex, make sure no instances are running (by stopping Plex) and wait 5 minutes. Starting Plex requires special handling and so cannot be started directly.</p>
<p>To stop Plex, run the following <a href="https://www.feralhosting.com/wiki/slots/ssh">SSH command</a>:</p>
<pre><code>pkill -9 -fu "$(whoami)" 'plexmediaserver'
pkill -9 -fu "$(whoami)" 'EAE Service'</code></pre>

<h2>Using Plex</h2>
<p>For help using the software itself you should consult <a href="https://www.plex.tv/support/">Plex's own support page</a> first of all as it's likely that your question is covered there. This section will cover anything specific to Plex on Feral.</p>

<h2>Updating Plex</h2>
<aside class="alert note">We install the Plex binaries to <kbd>~/private/plex</kbd> and assume that this does <em>not</em> include data. Updating Plex involves deleting this folder.</aside>
<p>Feral's installation will use the same version each time. The idea behind this is that more Feral users will use it making it more certain that it will run correctly on all of our servers regardless of the condition. This emphasises server stability over newer features.</p>
<p>To install the Feral version delete the <kbd>~/private/plex</kbd> folder then create it again and wait 5 minutes. This can be completed with the <a href="https://www.feralhosting.com/wiki/slots/ssh">SSH command</a> <code>rm -r ~/private/plex; mkdir ~/private/plex</code>.</p>

<h3>Installing a specific version</h3>
<p>You can override the Feral version retrieved by deleting then creating the Plex folder <kbd>~/private/plex</kbd> and putting the specific version in the file <kbd>~/private/plex/.version</kbd>. The system will then attempt to install this specific version. After the installation attempt the <kbd>.version</kbd> file will be removed. The following command will install a specific version:</p>
<pre><code>rm -r ~/private/plex
mkdir ~/private/plex
echo <var>requested-version</var> >~/private/plex/.version</code></pre>

<p>You will need to replace <var>requested-version</var> with a valid version string. The latest version string can be found on <a href="https://www.plex.tv/downloads/">Plex's download page</a>, selecing <samp>Download</samp> from the first step then selecting <samp>Computer &gt; Linux</samp> from the <samp>Choose your platform</samp> drop-down box and finally using the string beneath <samp>Plex Media Server for Linux</samp>. It will look something like <samp>1.12.1.4885-1046ba85f</samp>.</p>

<h2>Troubleshooting</h2>
<dl>
    <dt>Plex does not install after 5 minutes</dt>
    <dd>
        <p>If you've created the file <kbd>~/private/plex.login</kbd> then it will disappear once the installation process sees it. If it disappears and you do not see <kbd>~/private/plex</kbd> then you can assume it was not successful (i.e., an incorrect password).</p>
        <p>You should double check your username / password works <a href="https://www.plex.tv/sign-in/">by logging into Plex.tv</a></p>
    </dd>

    <dt>Plex doesn't start up after 5 minutes</dt>
    <dd>
        <p>After checking that <samp>~/private/plex</samp> exists, you should check whether any old Plex processes are running. The system is "naive" in that it checks for any process with "Plex" in the command-line. To see all "Plex" processes run the <a href="https://www.feralhosting.com/wiki/slots/ssh">SSH command</a> <code>ps x | grep Plex | grep -v grep</code>. Stopping all Plex processes will allow it to be restarted properly.</p>
    </dd>
</dl>

<h2>Uninstalling</h2>
<p>The <a href="https://www.feralhosting.com/wiki/slots/ssh">SSH command</a> below will completely remove Plex binaries and its configuration.</p>
<pre><code>pkill -9 -fu "$(whoami)" 'plexmediaserver'; pkill -9 -fu "$(whoami)" 'EAE Service'
rm -r ~/private/plex ~/Library
grep -l 32400 ~/.config/feral/ns/forwarding/tcp/* | xargs rm</code></pre>

<h2>External links</h2>
<ul>
    <li><a href="https://www.plex.tv/">Plex homepage</a>
        <ul>
            <li><a href="https://www.plex.tv/support/">Support documentation</a></li>
            <li><a href="https://forums.plex.tv/">Community</a></li>
        </ul>
    </li>
</ul>