<h1>qBittorrent</h1>
<aside class="alert note">Feral supports the three torrent clients installable from the <a href="/wiki/getting_started/web_manager#install">software page of your web manager</a>. It cannot provide support for problems with qBittorrent.</aside>

<p>This article will show you how to install and configure qBittorrent. qBittorrent can be used as an alternative to <a href="/wiki/software/rutorrent">ruTorrent</a>, <a href="/wiki/software/deluge">Deluge</a> or <a href="/wiki/software/transmission">Transmission</a>.</p>
<p>You'll need to execute some commands via SSH to use this software. There is a separate guide on how to <a href="/wiki/slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<h2>Installation - Auto</h2>
<p>The following script will allow you to do the following things easily:</p>
<ol>
    <li>Install the software</li>
    <li>Restart it - provides an error message if restarting not possible</li>
    <li>Uninstall qBittorrent</li>
</ol>
<p>To run it, simply log in via SSH then copy and paste the following:</p>
<p><kbd>wget -qO ~/install.qbittorrent.sh https://bitbucket.org/feralio/wiki/raw/HEAD/src/wiki/software/qbittorrent/qbittorrent.sh &amp;&amp; bash ~/install.qbittorrent.sh</kbd></p>

<h2>Installation - Manual</h2>
<p>qBittorrent requires several packages to be installed to your slot first. You can copy the entire block of commands below - they'll run automatically and you'll need to press <kbd>enter</kbd> on the last of the commands:</p>
<pre><kbd>mkdir -p ~/bin ~/lib
wget -q http://ftp.nl.debian.org/debian/pool/main/b/boost1.62/libboost-chrono1.62.0_1.62.0+dfsg-4_amd64.deb &amp;&amp; dpkg -x libboost-chrono1.62.0_1.62.0+dfsg-4_amd64.deb ~/deb-temp 
wget -q http://ftp.nl.debian.org/debian/pool/main/b/boost1.62/libboost-random1.62.0_1.62.0+dfsg-4_amd64.deb &amp;&amp; dpkg -x libboost-random1.62.0_1.62.0+dfsg-4_amd64.deb ~/deb-temp
wget -q http://ftp.nl.debian.org/debian/pool/main/b/boost1.62/libboost-system1.62.0_1.62.0+dfsg-4_amd64.deb &amp;&amp; dpkg -x libboost-system1.62.0_1.62.0+dfsg-4_amd64.deb ~/deb-temp
wget -q http://ftp.nl.debian.org/debian/pool/main/libt/libtorrent-rasterbar/libtorrent-rasterbar9_1.1.1-1+b1_amd64.deb &amp;&amp; dpkg -x libtorrent-rasterbar9_1.1.1-1+b1_amd64.deb ~/deb-temp
wget -q http://ftp.nl.debian.org/debian/pool/main/p/pcre3/libpcre16-3_8.39-3_amd64.deb &amp;&amp; dpkg -x libpcre16-3_8.39-3_amd64.deb ~/deb-temp
wget -q http://ftp.nl.debian.org/debian/pool/main/o/openssl/libssl1.1_1.1.0f-3+deb9u1_amd64.deb &amp;&amp; dpkg -x libssl1.1_1.1.0f-3+deb9u1_amd64.deb ~/deb-temp
wget -q http://ftp.nl.debian.org/debian/pool/main/d/double-conversion/libdouble-conversion1_2.0.1-4_amd64.deb &amp;&amp; dpkg -x libdouble-conversion1_2.0.1-4_amd64.deb ~/deb-temp
wget -q http://ftp.nl.debian.org/debian/pool/main/q/qtbase-opensource-src/libqt5core5a_5.7.1+dfsg-3+b1_amd64.deb &amp;&amp; dpkg -x libqt5core5a_5.7.1+dfsg-3+b1_amd64.deb ~/deb-temp
wget -q http://ftp.nl.debian.org/debian/pool/main/q/qtbase-opensource-src/libqt5dbus5_5.7.1+dfsg-3+b1_amd64.deb &amp;&amp; dpkg -x libqt5dbus5_5.7.1+dfsg-3+b1_amd64.deb ~/deb-temp
wget -q http://ftp.nl.debian.org/debian/pool/main/q/qtbase-opensource-src/libqt5network5_5.7.1+dfsg-3+b1_amd64.deb &amp;&amp; dpkg -x libqt5network5_5.7.1+dfsg-3+b1_amd64.deb ~/deb-temp
wget -q http://ftp.nl.debian.org/debian/pool/main/q/qtbase-opensource-src/libqt5xml5_5.7.1+dfsg-3+b1_amd64.deb &amp;&amp; dpkg -x libqt5xml5_5.7.1+dfsg-3+b1_amd64.deb ~/deb-temp
wget -q http://ftp.nl.debian.org/debian/pool/main/q/qbittorrent/qbittorrent-nox_3.3.7-3_amd64.deb &amp;&amp; dpkg -x qbittorrent-nox_3.3.7-3_amd64.deb ~/deb-temp
wget -q http://ftp.nl.debian.org/debian/pool/main/g/gcc-6/libstdc++6_6.3.0-18+deb9u1_amd64.deb &amp;&amp; dpkg -x libstdc++6_6.3.0-18+deb9u1_amd64.deb ~/deb-temp
wget -q http://ftp.nl.debian.org/debian/pool/main/i/icu/libicu57_57.1-6+deb9u1_amd64.deb &amp;&amp; dpkg -x libicu57_57.1-6+deb9u1_amd64.deb ~/deb-temp
wget -q http://ftp.nl.debian.org/debian/pool/main/libp/libproxy/libproxy1_0.4.11-4+b2_amd64.deb &amp;&amp; dpkg -x libproxy1_0.4.11-4+b2_amd64.deb ~/deb-temp
mv ~/deb-temp/usr/lib/x86_64-linux-gnu/* ~/lib/
mv ~/deb-temp/usr/bin/* ~/bin/
rm -rf ~/*.deb ~/deb-temp</kbd></pre>

<h3>Configuring before starting qBittorrent</h3>
<p>We need to do some configuration before we can run qBittorrent for the first time. Make the necessary directory and open a blank config file with the following command:</p>
<p><kbd>mkdir -p ~/.config/qBittorrent &amp;&amp; nano ~/.config/qBittorrent/qBittorrent.conf</kbd></p>
<p>Then, copy and paste the following into the file (use <kbd>shift</kbd> + <kbd>insert</kbd> to paste):</p>
<pre><samp>[LegalNotice]
Accepted=true

[Preferences]
General\Locale=en_GB
WebUI\Port=8080
Downloads\SavePath=private/qBittorrent/data</samp></pre>
<p>Once you're done hold <kbd>ctrl</kbd> + <kbd>x</kbd> to save. Press <kbd>y</kbd> to confirm.</p>
<p>Finally, run the following to set things up on a different port, where <var>port</var> is a number between 10001 and 32001:</p>
<p><kbd>sed -i "s|Port=8080|Port=<var>port</var>|g" ~/.config/qBittorrent/qBittorrent.conf</kbd></p>

<h2>Starting, stopping and restarting</h2>
<p>This section covers the qBittorrent process - starting it, stopping it and restarting it. It also covers checking if the process is running, in case that becomes necessary.</p>
<dl>
    <dt>start</dt>
    <dd><kbd>screen -dmS qBittorrent /bin/bash -c 'export LD_LIBRARY_PATH=~/lib:/usr/lib; ~/bin/qbittorrent-nox'</kbd></dd>
    <dt>check running</dt>
    <dd><kbd>pgrep -fu "$(whoami)" "SCREEN -dmS qBittorrent"</kbd></dd>
    <dt>stop</dt>
    <dd><kbd>pkill -fu "$(whoami)" 'SCREEN -dmS qBittorrent'</kbd></dd>
    <dt>restart</dt>
    <dd><kbd>pkill -fu "$(whoami)" 'SCREEN -dmS qBittorrent'; sleep 3 &amp;&amp; screen -dmS qBittorrent /bin/bash -c 'export LD_LIBRARY_PATH=~/lib:/usr/lib; ~/bin/qbittorrent-nox'</kbd></dd>
    <dt>kill (force stop)</dt>
    <dd><kbd>pkill -9 -fu "$(whoami)" 'SCREEN -dmS qBittorrent'</kbd></dd>
</dl>

<h3>Automatically restarting qBittorrent if it is not running</h3>
<p>Cron jobs can be used to check if qBittorrent is running and start it up if it is not. There is a separate page on <a href="../slots/cron">configuring cron jobs</a>.</p>

<h2>Using qBittorrent</h2>
<p>To access qBittorrent, we first need get the URL to access it on. Get this with the following command:</p>
<p><kbd>echo "http://$(whoami).$(hostname -f):$(sed -rn 's|WebUI\\Port=||p' ~/.config/qBittorrent/qBittorrent.conf)"</kbd></p>
<p>By default the username is <samp>admin</samp> and the password is <samp>adminadmin</samp>. You should change these as soon as possible. You can do this by opening the URL above, clicking the preferences icon (the icon on the far right). Then, click the <samp>Web UI</samp> tab and scroll down to the <samp>Authentication</samp> section. Make the changes to the username and password you want then scroll down and click <samp>Save</samp>. 

<h2>Troubleshooting</h2>
<p>If you experience issues or crashes using qBittorrent the first thing to try and do is restart the software using the command listed in the section above, "Starting, stopping and restarting".</p>

<h2>Uninstallation</h2>
<aside class="alert note">The commands below will completely remove the software, downloaded data and its config files - back up important data first!</aside>
<pre><kbd>pkill -9 -fu "$(whoami)" 'SCREEN -dmS qBittorrent'
rm -rf ~/.config/qBittorrent/ ~/private/qBittorrent
</kbd></pre>