<h1>Resilio Sync</h1>
<p>This article will show you how to install and configure Resilio Sync. This software will allow you to sync to another computer or device via the BitTorrent protocol.</p>
<p>You'll need to execute some commands via SSH to use this software. There is a separate guide on how to <a href="../slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<h2>Installation</h2>
<p>Install Resilio Sync by logging in via SSH, then copying and pasting the following:</p>
<pre><kbd>wget https://download-cdn.getsync.com/stable/linux-x64/resilio-sync_x64.tar.gz
mkdir -p ~/rslsync; tar xvzf resilio-sync_x64.tar.gz -C ~/rslsync
mkdir -p ~/.rslsync; ~/rslsync/rslsync --dump-sample-config > ~/.rslsync/rslsync.conf &amp;&amp; rm resilio-sync_x64.tar.gz</kbd></pre>

<h3>Configuring before starting Resilio Sync</h3>
<p>The config needs to be tweaked before you can run Resilio Sync. Copy and paste these commands:</p>
<pre><kbd>sed -i 's|MYHOME|'"$HOME"'|g' ~/.rslsync/rslsync.conf
sed -i 's|8888|'$(shuf -i 10001-49000 -n 1)'|g' ~/.rslsync/rslsync.conf</kbd></pre>

<h2>Starting, stopping and restarting</h2>
<p>This section covers the Resilio Sync process - starting it, stopping it and restarting it. It also covers checking if the process is running, in case that becomes necessary.</p>
<dl>
    <dt>start</dt>
    <dd><kbd>~/rslsync/rslsync --config ~/.rslsync/rslsync.conf &amp;&amp; echo http://$(hostname -f):$(sed -rn 's|.*"listen" : "0.0.0.0:(.*)".*|\1|p' ~/.rslsync/rslsync.conf)<kbd></dd>
    <dt>check running</dt>
    <dd><kbd>pgrep -fu "$(whoami)" ".rslsync/rslsync.conf"</kbd></dd>
    <dt>stop</dt>
    <dd><kbd>kill "$(pgrep -fu "$(whoami)" ".rslsync/rslsync.conf")"</kbd></dd>
    <dt>restart</dt>
    <dd><kbd>kill "$(pgrep -fu "$(whoami)" ".rslsync/rslsync.conf")" &amp;&amp; sleep 5 &amp;&amp; ~/rslsync/rslsync --config ~/.rslsync/rslsync.conf &amp;&amp; echo http://$(hostname -f):$(sed -rn 's|.*"listen" : "0.0.0.0:(.*)".*|\1|p' ~/.rslsync/rslsync.conf)</kbd></dd>
    <dt>kill (force stop)</dt>
    <dd><kbd>kill -9 "$(pgrep -fu "$(whoami)" "rslsync.conf")"</kbd></dd>
</dl>
<p>The <samp>check running</samp> command will return a process number if rTorrent is running. If it doesn't return anything, rTorrent is not running.</p>

<h3>Automatically restarting Resilio Sync if it is not running</h3>
<p>Cron jobs can be used to check if Resilio Sync is running and start it up if it is not. There is a separate page on <a href="../slots/cron">configuring cron jobs</a>.</p>

<h2>Configuring</h2>

<h3>Creating a username and password for the webUI</h3>
<p>Once you access the webUI using the URL provided by the start command you'll be prompted to create a user account. This is only for accessing and using the webUI.</p>
<p>Once the user account creation is completed and you have agreed to the conditions on the webUI page you'll be prompted to log in.</p>

<h2>Troubleshooting</h2>
<p>If you experience issues or crashes using Resilio Sync the first thing to try and do is restart the software using the command listed in the section above, Starting, stopping and restarting.</p>

<h2>Uninstallation</h2>
<aside class="alert note">The commands below will completely remove the software and its config files - back up important data first!</aside>
<pre><kbd>kill -9 "$(pgrep -fu "$(whoami)" "rslsync.conf")"
rm -rf ~/rslsync ~/.rslsync</kbd></pre>

<h2>External links</h2>
<ul>
    <li><a href="https://www.resilio.com/individuals/">Resilio Sync's homepage</a>
        <ul>
            <li><a href="https://help.getsync.com/">Support documentation</a></li>
            <li><a href="https://forum.getsync.com/">Community</a></li>
        </ul>
    </li>
</ul>