<h1>Using the blank template</h1>
<p>
	This article is intended to be a guide to <em>writers</em> and a checklist of sorts to the template article <a href="software_template.html">here</a>. The template article is intended to be used to write guides on software not currently installable via the Feral web manager.
</p>

<p>
	It presents, in chronological order, the different variables of the template with explanatory notes as relevant. Writers can refer to the list to ensure relevant sections are included, removed or amended as appropriate.
</p>

<h2>Variables</h2>
<p>The blank template uses variables, defined as:</p>

<dl>
    <dt>$software</dt>
    <dd>The name of the software being installed e.g. SickRage</dd>
    
    <dt>$subpage</dt>
    <dd>The name of the subpage, removed if non-applicable</dd>
    
    <dt>$important</dt>
    <dd>Important notes to the article e.g. software compatibility, removed if non-applicable</dd>
    
    <dt>$article_aim</dt>
    <dd>What the article achieves</dd>
    
    <dt>$installation</dt>
    <dd>The commands used as part of the installation process</dd>

    <dt>$start</dt>
    <dd>The command to start the software</dd>

    <dt>$check</dt>
    <dd>Command to check the software is running</dd>

    <dt>$kill</dt>
    <dd>Command to terminate the software</dd>

    <dt>$restart</dt>
    <dd>Combined kill and start commands - you may also need to include removal of .pid files in this command</dd>

    <dt>$9kill</dt>
    <dd>This is $kill but specifying signum 9 to forcibly stop the process</dd>

    <dt>$problem</dt>
    <dd>A problem or provides a returned error message and/or its circumstances</dd>

    <dt>$solution</dt>
    <dd>The solution to the $problem</dd>

    <dt>$uninstall</dt>
    <dd>Command to uninstall/remove software</dd>
</dl>

<p>
	The writer must also ensure that all other contents of the blank page (i.e. those without variables listed here) are applicable and relevant to the aim of their article.
</p>

