<h1>Sonarr</h1>
<p>This article will show you how to install Sonarr. Sonarr is a smart PVR for newsgroup and BitTorrent users.</p>

<p>You'll need to execute some commands via SSH to use this software. There is a separate guide on how to <a href="../slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<h2>Installation</h2>
<p>Sonarr requires mono to run. Please <a href="mono">install mono</a> first, then come back to this guide.</p>

<p>Once mono is installed, install Sonarr by logging in via SSH, then copying and pasting the following:</p>
<pre><kbd>wget -qO ~/NzbDrone.tar.gz http://update.sonarr.tv/v2/master/mono/NzbDrone.master.tar.gz
tar xf ~/NzbDrone.tar.gz
mkdir -p ~/.config/NzbDrone
rm ~/NzbDrone.tar.gz</kbd></pre>

<h3>Installation notes</h3>
<p>By default, you will access the software in your browser by using the URL with a port number. If you consider the URL without a port number to be neater, you will need to <a href="../slots/proxypass">configure a proxypass</a>.</p>

<h3>Configuring before starting Sonarr</h3>
<p>A config.xml file needs to be created and tweaked before we can properly run Sonarr. To create it, use the following command:</p>
<p><kbd>nano ~/.config/NzbDrone/config.xml</kbd></p>
<p>Then, copy and paste the following:</p>
<pre><samp>&lt;Config&gt;
  &lt;Port&gt;8989&lt;/Port&gt;
  &lt;UrlBase&gt;&lt;/UrlBase&gt;
  &lt;BindAddress&gt;*&lt;/BindAddress&gt;
  &lt;SslPort&gt;9898&lt;/SslPort&gt;
  &lt;EnableSsl&gt;False&lt;/EnableSsl&gt;
  &lt;ApiKey&gt;&lt;/ApiKey&gt;
  &lt;AuthenticationMethod&gt;None&lt;/AuthenticationMethod&gt;
  &lt;LogLevel&gt;Info&lt;/LogLevel&gt;
  &lt;Branch&gt;master&lt;/Branch&gt;
  &lt;LaunchBrowser&gt;False&lt;/LaunchBrowser&gt;
&lt;/Config&gt;</samp></pre>
<p>Once you're done hold <kbd>ctrl</kbd> + <kbd>x</kbd> to save. Press <kbd>y</kbd> to confirm.</p>

<p>You then need to tweak the config slightly. You can do this by copying and pasting the following:</p>
<pre><kbd>sed -i 's|&lt;Port&gt;8989&lt;/Port&gt;|&lt;Port&gt;'$(shuf -i 10001-32001 -n 1)'&lt;/Port&gt;|g' ~/.config/NzbDrone/config.xml
sed -i 's|&lt;UrlBase&gt;&lt;/UrlBase&gt;|&lt;UrlBase&gt;/'"$(whoami)"'/sonarr&lt;/UrlBase&gt;|g' ~/.config/NzbDrone/config.xml</kbd></pre>

<h2>Starting, stopping and restarting</h2>
<p>This section covers the Sonarr process - starting it, stopping it and restarting it. It also covers checking if the process is running, in case that becomes necessary.</p>
<p>You can start Sonarr and print its URL with the following:</p>
<pre><kbd>screen -dmS sonarr /bin/bash -c 'export TMPDIR=~/tmp; ~/bin/mono --debug NzbDrone/NzbDrone.exe' &amp;&amp; echo "http://$(hostname -f):$(sed -rn 's|(.*)&lt;Port&gt;(.*)&lt;/Port&gt;|\2|p' ~/.config/NzbDrone/config.xml)/$(whoami)/sonarr/"</kbd></pre>
<p>If nothing happens or there is an error it could be that the port that was picked in the configuration step in use. Simply run these commands again to try with a different number (you'll need to edit the proxypass if you have one set up):</p>
<pre><kbd>sed -i 's|&lt;Port&gt;.*&lt;/Port&gt;|&lt;Port&gt;'$(shuf -i 10001-32001 -n 1)'&lt;/Port&gt;|g' ~/.config/NzbDrone/config.xml
screen -dmS sonarr /bin/bash -c 'export TMPDIR=~/tmp; ~/bin/mono --debug NzbDrone/NzbDrone.exe' &amp;&amp; echo "http://$(hostname -f):$(sed -rn 's|(.*)&lt;Port&gt;(.*)&lt;/Port&gt;|\2|p' ~/.config/NzbDrone/config.xml)/$(whoami)/sonarr/"</kbd></pre>

<p>If you need to check that it's running, you can run the command below. If the process is running a list of relevant process ID numbers will be listed. If nothing is listed, the process is not running.</p>
<p><kbd>pgrep -fu "$(whoami)" "NzbDrone.exe"</kbd></p>
<p>The Sonarr process is stopped by executing:</p>
<p><kbd>kill "$(pgrep -fu "$(whoami)" "NzbDrone.exe")"</kbd></p>
<p>If Sonarr needs to be restarted, copy and paste these commands:</p>
<pre><kbd>kill "$(pgrep -fu "$(whoami)" "NzbDrone.exe")"
screen -dmS sonarr /bin/bash -c 'export TMPDIR=~/tmp; ~/bin/mono --debug NzbDrone/NzbDrone.exe'
echo "http://$(hostname -f):$(sed -rn 's|(.*)&lt;Port&gt;(.*)&lt;/Port&gt;|\2|p' ~/.config/NzbDrone/config.xml)/$(whoami)/sonarr/"</kbd></pre>

<p>Please note that if you want to stop the process for Sonarr, it's best to check it afterwards to make sure it has stopped. If the process has crashed and will not stop when requested, you can kill it with:</p>
<p><kbd>kill -9 "$(pgrep -fu "$(whoami)" "NzbDrone.exe")"</kbd></p>

<h3>Automatically restarting Sonarr if it is not running</h3>
<p>Cron jobs can be used to check if Sonarr is running and start it up if it is not. There is a separate page on <a href="../slots/cron">configuring cron jobs</a>.</p>

<h2>Configuring</h2>
<p>This section covers setting a password in Sonarr and connecting the Sonarr to different clients.</p>

<h3>Setting a password in Sonarr</h3>
<p>Within the Sonarr UI, click the <samp>Settings</samp> icon (the three gears at the top) and then click the <samp>General</samp> tab. Under <samp>Security</samp>, click the dropdown menu next to <samp>Authentication</samp> and select <samp>Forms (Login page)</samp>. Two fields will appear and you'll be able to set a username and password for the web UI. Whilst it's not mandatory you do this, it is a sensible thing to do. You'll need to restart the program for the changes to take effect.</p>

<h3>Configuring clients with Sonarr</h3>
<p>In Sonarr's user interface click the <samp>Settings</samp> icon (the three gears at the top) and then click <samp>Download Client</samp>. Next, click the <kbd>+</kbd> button. You can choose the torrent client you want to configure from the menu.</p>

<h4>rTorrent</h4>
<p>First of all you need to create the rTorrent RPC and this is done by <a href="nginx">switching from apache to nginx</a>.</p>
<dl>
    <dt>Name</dt>
    <dd>Your chosen name for the settings - you can pick what you like</dd>
    <dt>Enable</dt>
    <dd><kbd>Yes</kbd></dd>    
    <dt>Host</dt>
    <dd><kbd><var>server</var>.feralhosting.com</kbd></dd>
    <dt>Port</dt>
    <dd><kbd>443</kbd></dd>
    <dt>Url Path</dt>
    <dd><kbd>/<var>username</var>/rtorrent/rpc</kbd></dd>
    <dt>Use SSL</dt>
    <dd><kbd>Yes</kbd></dd>
    <dt>Username</dt>
    <dd><kbd>rutorrent</kbd> (the word 'rutorrent', <em>not</em> your ruTorrent username)</dd>
    <dt>Password</dt>
    <dd>Your ruTorrent access password</dd>
</dl>
<p>In the above settings, <var>server</var> is replaced by the name of your server (e.g. zeus) and <var>username</var> is your username on the server.</p>

<h4>Deluge</h4>
<p>First make sure <samp>Advanced Settings</samp> have been set to <samp>Shown</samp>, in order for the necessary options to appear.</p>
<dl>
    <dt>Name</dt>
    <dd>Your chosen name for the settings - you can pick what you like</dd>   
    <dt>Enable</dt>
    <dd><kbd>Yes</kbd></dd>    
    <dt>Host</dt>
    <dd><kbd><var>server</var>.feralhosting.com</kbd></dd>
    <dt>Port</dt>
    <dd><kbd>443</kbd></dd>
    <dt>Url Base</dt>
    <dd><kbd>/<var>username</var>/deluge</kbd></dd>
    <dt>Password</dt>
    <dd>Your Deluge web UI password</dd>
    <dt>Use SSL</dt>
    <dd><kbd>Yes</kbd></dd>
</dl>
<p>In the above settings, <var>server</var> is replaced by the name of your server (e.g. zeus) and <var>username</var> is your username on the server.</p>

<h4>Transmission</h4>
<p>First make sure <samp>Advanced Settings</samp> have been set to <samp>Shown</samp>, in order for the necessary options to appear.</p>
<dl>
    <dt>Name</dt>
    <dd>Your chosen name for the settings - you can pick what you like</dd>   
    <dt>Enable</dt>
    <dd><kbd>Yes</kbd></dd>    
    <dt>Host</dt>
    <dd><kbd>transmission.<var>username</var>.<var>server</var>.feralhosting.com</kbd></dd>
    <dt>Port</dt>
    <dd><kbd>443</kbd></dd>
    <dt>Url Base</dt>
    <dd><kbd>/<var>username</var>/transmission/</kbd></dd>
    <dt>Username</dt>
    <dd>Your Transmission username</dd>
    <dt>Password</dt>
    <dd>Your Transmission password</dd>
    <dt>Use SSL</dt>
    <dd><kbd>Yes</kbd></dd>
</dl>
<p>In the above settings, <var>server</var> is replaced by the name of your server (e.g. zeus) and <var>username</var> is your username on the server.</p>

<h2>Uninstallation</h2>
<aside class="alert note">The commands below will completely remove the software and its config files - back up important data first!</aside>

<pre><code>kill -9 "$(pgrep -fu "$(whoami)" "NzbDrone.exe")"
rm -rf ~/.config/NzbDrone/ &amp;&amp; ~/NzbDrone</code></pre>

<h2>External links</h2>
<ul>
    <li><a href="https://sonarr.tv/">Sonarr's homepage</a></li>
    <li><a href="https://sonarr.tv/#support">Sonarr support</a></li>
</ul>