<h1>Transdrone</h1>

<p>This article will show you how to configure Transdrone. Transdrone is an app for Android devices which allows you to manage your torrent clients remotely.</p>

<h2>Installation</h2>
<p>Install Transdrone to your Android device(s) via the <a href="https://play.google.com/store/apps/details?id=org.transdroid.lite&amp;hl=en">Play Store</a>.</p>

<h2>Configuring</h2>
<p>This section runs through the set-up procedure for several of the torrent clients you may have <a href="/wiki/getting_started/web_manager#install">installed</a>.</p>

<h3>rTorrent</h3>
<p>To connect Transdrone to rTorrent, upgrade to nginx first to create the necessary HTTP RPC. Go through the <a href="/wiki/software/nginx">nginx installation guide</a> first, then come back to this guide.</p>
<p>In the app, go to <samp>Settings</samp>, <samp>Add new server</samp> and select <samp>Add normal, custom server</samp></p>
<dl>
    <dt>Name</dt>
    <dd>Give the connection a name (you can choose any name you like)</dd>
    <dt>Server type</dt>
    <dd>rTorrent</dd>    
    <dt>IP or host name</dt>
    <dd><var>server</var>.feralhosting.com where <var>server</var> is replaced with the server name e.g. mimas or apollo.</dd>
    <dt>User name</dt>
    <dd><kbd>rutorrent</kbd> (the word 'rutorrent', <em>not</em> your ruTorrent username)</dd>
    <dt>Password</dt>
    <dd>The same password as you use to access ruTorrent</dd>
</dl>

<p>Once these are set, press <samp>Advanced settings</samp> and input the following:</p>
<dl>
    <dt>Folder</dt>
    <dd>/<var>username</var>/rtorrent/rpc where <var>username</var> is replaced by your username</dd>    
    <dt>Use SSL</dt>
    <dd>Make sure this is selected</dd>
</dl>

<h3>Deluge (via webUI)</h3>
<p>In the app, go to <samp>Settings</samp>, <samp>Add new server</samp> and select <samp>Add normal, custom server</samp></p>
<dl>
    <dt>Name</dt>
    <dd>Give the connection a name (you can choose any name you like)</dd>
    <dt>Server type</dt>
    <dd>Deluge 1.2+</dd>    
    <dt>IP or host name</dt>
    <dd><var>server</var>.feralhosting.com where <var>server</var> is replaced with the server name e.g. mimas or apollo.</dd>
    <dt>Deluge web password</dt>
    <dd>Your Deluge web UI password</dd>
</dl>

<p>Once these are set, press <samp>Advanced settings</samp> and input the following:</p>
<dl>
    <dt>Port number</dt>
    <dd>443</dd>
    <dt>Folder</dt>
    <dd>/<var>username</var>/deluge where <var>username</var> is replaced by your username</dd>    
    <dt>Use SSL</dt>
    <dd>Make sure this is selected</dd>
</dl>

<h3>Transmission</h3>
<p>In the app, go to <samp>Settings</samp>, <samp>Add new server</samp> and select <samp>Add normal, custom server</samp></p>
<dl>
    <dt>Name</dt>
    <dd>Give the connection a name (you can choose any name you like)</dd>
    <dt>Server type</dt>
    <dd>Transmission</dd>    
    <dt>IP or host name</dt>
    <dd><var>server</var>.feralhosting.com where <var>server</var> is replaced with the server name e.g. mimas or apollo.</dd>
    <dt>User name</dt>
    <dd>Your Transmission web UI username</dd>
    <dt>Password</dt>
    <dd>Your Transmission web UI password</dd>
</dl>

<p>Once these are set, press <samp>Advanced settings</samp> and input the following:</p>
<dl>
    <dt>Port number</dt>
    <dd>443</dd>
    <dt>Folder</dt>
    <dd>/<var>username</var>/transmission where <var>username</var> is replaced by your username</dd>    
    <dt>Use SSL</dt>
    <dd>Make sure this is selected</dd>
</dl>

<h3>qBittorrent</h3>
<p>This is not available from the Feral software page. Please follow the guide to <a href="/wiki/software/qbittorrent">Install qBittorrent</a></p>
<p>In the app, go to <samp>Settings</samp>, <samp>Add new server</samp> and select <samp>Add normal, custom server</samp></p>
<dl>
    <dt>Name</dt>
    <dd>Give the connection a name (you can choose any name you like)</dd>
    <dt>Server type</dt>
    <dd>qBittorrent</dd>    
    <dt>IP or host name</dt>
    <dd><var>username</var>.<var>server</var>.feralhosting.com where <var>username</var> is replaced by your username and <var>server</var> is replaced with the server name e.g. mimas or apollo.</dd>
    <dt>User name</dt>
    <dd>Your qBittorrent web UI username</dd>
    <dt>Password</dt>
    <dd>Your qBittorrent web UI password</dd>
</dl>

<p>Once these are set, you may need to find out the port qBittorrent is running on (skip ahead if you already know it!). To do this, <a href="/wiki/slots/ssh">connect via SSH</a> and copy and paste the following command, before pressing <kbd>Enter</kbd>:
<p><kbd>echo "$(sed -rn 's|WebUI\\Port=||p' ~/.config/qBittorrent/qBittorrent.conf)"</kbd></p>

<p>Back in the app, press <samp>Advanced settings</samp> and input the following:</p>
<dl>
    <dt>Port number</dt>
    <dd><var>port</var> - the port that qBittorrent is running on (see section directly above if you don't know this)</dd>
</dl>

<h2>Troubleshooting</h2>
<dl>
    <dt>I'm not able to connect to rTorrent through Transdrone.</dt>
    <dd>
        <ol>Double-check the following:
            <li>You've made the <a href="/wiki/software/nginx">switch to nginx</a>;</li>
            <li>You're using the username <kbd>rutorrent</kbd> in the basic settings;</li>
            <li>After you've switched to nginx, you haven't then changed your ruTorrent password. The RPC password will not update automatically - reinstall nginx.</li>
        </ol>
    </dd>
    <dt>I get an error "Web interface not connected to a running daemon</dt>
    <dd>Access your Deluge web UI and make sure the daemon is connected. You should also ensure that the default daemon in <samp>~/.config/deluge/web.conf</samp> matches the one in <samp>~/.config/deluge/hostlist.conf.1.2</samp></dd>
</dl>