<h1>Transmission - accessing remotely</h1>
<p>In addition to using Transmission's web UI it's also possible to access it remotely from your computer. This guide will show you how to get it set up. It doesn't really on any previous knowledge or expertise.</p>

<h2>Download the software</h2>
<p>Though there are several different programs that can connect to Transmission remotely, but the one which will work for you at Feral is Transmission Remote GUI. You should <a href="https://github.com/leonsoft-kras/transmisson-remote-gui/releases">download the relevant version</a> then open the program.</p>

<h2>Configure your Transmission remote client</h2>

<p>In Transmission Remote GUI, click the little arrow next to <samp>Connect to Transmission</samp> (in the top left of the window) and select <samp>New connection...</samp>.</p>
<p>In the window that appears, you should provide the following information:</p>
<dl>
    <dt>Remote host:</dt>
    <dd><var>server</var>.feralhosting.com </dd>
    <dt>Port:</dt>
    <dd>443</dd>
    <dt>Use SSL</dt>
    <dd>Checked/ticked</dd>
    <dt>Authentication required</dt>
    <dd>Checked/ticked</dd>
    <dt>User name:</dt>
    <dd>Your Transmission username (if it exists)</dd>
    <dt>Password:</dt>
    <dd>Your Transmission password</dd>
    <dt>RPC path:</dt>
    <dd><var>/username</var>/transmission/rpc</dd>
</dl>
<p>In the above, <var>server</var> is replaced by the name of your server, e.g. <samp>zeus</samp> and <var>username</var> is your actual Feral slot username (even if you don't have one for Transmission itself).</p>
<p>Please note that by default there will not be a Transmission username. Earlier versions of the remote client did not work without a username, but this should be fine as of version 5.15.1. If you've already added a username (and you should know if you have!), enter it in the username field. Otherwise, there's no need to enter anything there.</p>