<h1>Network Revamp</h1>

<p>I am making improvements to the network. This should:</p>
<ul>
    <li>Improve server speeds,</li>
    <li>extend network redundancy to the server (each server connected to two switches),</li>
    <li>greatly expand internal capacity,</li>
    <li>and finally simplify the set up to build on future improvements (e.g., the VPN and reroute).</li>
</ul>
<p>During these changes the network will remain up and stable with no speed issues. If you run into problems you should <a href="https://www.feralhosting.com/tickets/new">open a support ticket</a>.</p>

<h2>Plan of Action</h2>
<p>I will tackle this problem in two steps. The first will be to reconfigure servers and switches and the second to make physical changes to the network. The ETAs are intended as an estimate and may move forward.</p>

<h3>Stage One</h3>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Switch</th>
            <th>Status</th>
            <th>ETA</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>sw-acc.1.1</td><td>a</td><td>configured</td><td></td></tr>
        <tr><td>hestia</td><td>a</td><td>completed</td><td></td></tr>
        <tr><td>hermes</td><td>a</td><td>completed</td><td></td></tr>
        <tr><td>demeter</td><td>a</td><td>completed</td><td></td></tr>
        <tr><td>artemis</td><td>a</td><td>completed</td><td></td></tr>
        <tr><td>aphrodite</td><td>a</td><td>completed</td><td></td></tr>
        <tr><td>hades</td><td>a</td><td>completed</td><td></td></tr>
        <tr><td>athena</td><td>a</td><td>completed</td><td></td></tr>
        <tr><td>hera</td><td>a</td><td>completed</td><td></td></tr>
        <tr><td>chronos</td><td>a</td><td>completed</td><td></td></tr>
        <tr><td>chaos</td><td>a</td><td>completed</td><td></td></tr>
        <tr><td>tethys</td><td>a</td><td>completed</td><td></td></tr>
        <tr><td>erebus</td><td>a</td><td>completed</td><td></td></tr>
        <tr><td>mnemosyne</td><td>a</td><td>completed</td><td></td></tr>
        <tr><td>oceanus</td><td>a</td><td>completed</td><td></td></tr>
        <tr><td>eros</td><td>a</td><td>completed</td><td></td></tr>
        <tr><td>phoebe</td><td>a</td><td>completed</td><td></td></tr>
        <tr><td>thalassa</td><td>a</td><td>completed</td><td></td></tr>
        <tr><td>dionysus</td><td>a</td><td>completed</td><td></td></tr>
        <tr><td>ares</td><td>a</td><td>completed</td><td></td></tr>
        <tr><td>poseidon</td><td>a</td><td>completed</td><td></td></tr>
        <tr><td>apollo</td><td>a</td><td>completed</td><td></td></tr>
        <tr><td>phanes</td><td>a</td><td>completed</td><td></td></tr>
        <tr><td>hyperion</td><td>a</td><td>completed</td><td></td></tr>
        <tr><td>cronus</td><td>a</td><td>completed</td><td></td></tr>
        <tr><td>ananke</td><td>a</td><td>completed</td><td></td></tr>
        <tr><td>dione</td><td>a</td><td>completed</td><td></td></tr>
        <tr><td>rhea</td><td>a</td><td>completed</td><td></td></tr>
        <tr><td>zeus</td><td>a</td><td>completed</td><td></td></tr>
        <tr><td>aether</td><td>a</td><td>completed</td><td></td></tr>
        <tr><td>clymene</td><td>a</td><td>completed</td><td></td></tr>
        <tr><td>epimetheus</td><td>a</td><td>completed</td><td></td></tr>

        <tr><td>sw-acc.2.1</td><td>b</td><td>configured</td><td></td></tr>
        <tr><td>thanatos</td><td>b</td><td>completed</td><td></td></tr>
        <tr><td>aura</td><td>b</td><td>completed</td><td></td></tr>
        <tr><td>iapetus</td><td>b</td><td>completed</td><td></td></tr>
        <tr><td>tartarus</td><td>b</td><td>completed</td><td></td></tr>
        <tr><td>themis</td><td>b</td><td>completed</td><td></td></tr>
        <tr><td>astraeus</td><td>b</td><td>completed</td><td></td></tr>
        <tr><td>atlas</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>perses</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>pallas</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>metis</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>ophion</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>prometheus</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>leto</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>asia</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>enceladus</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>menoetius</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>selene</td><td>c</td><td>completed</td><td></td></tr>

        <tr><td>pontus</td><td>b</td><td>deferred</td><td></td></tr>
        <tr><td>styx</td><td>b</td><td>completed</td><td></td></tr>
        <tr><td>cottus</td><td>b</td><td>completed</td><td></td></tr>
        <tr><td>gyges</td><td>b</td><td>completed</td><td></td></tr>
        <tr><td>agrius</td><td>b</td><td>completed</td><td></td></tr>
        <tr><td>aloadae</td><td>b</td><td>completed</td><td></td></tr>
        <tr><td>otos</td><td>b</td><td>completed</td><td></td></tr>
        <tr><td>antaeus</td><td>b</td><td>completed</td><td></td></tr>
        <tr><td>hephaestus</td><td>b</td><td>completed</td><td></td></tr>
        <tr><td>alcyoneus</td><td>b</td><td>completed</td><td></td></tr>
        <tr><td>chthonius</td><td>b</td><td>completed</td><td></td></tr>
        <tr><td>ephialtes</td><td>b</td><td>completed</td><td></td></tr>
        <tr><td>eurymedon</td><td>b</td><td>completed</td><td></td></tr>
        <tr><td>polybotes</td><td>b</td><td>completed</td><td></td></tr>

        <tr><td>sw-acc.3.1</td><td>c</td><td>configured</td><td></td></tr>
        <tr><td>asteria</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>nyx</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>uranus</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>hemera</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>ourea</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>eos</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>coeus</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>crius</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>thoas</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>steropes</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>polyphemus</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>gegenees</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>geryon</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>briareus</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>aigaion</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>orion</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>gaia</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>hypnos</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>morpheus</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>nesoi</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>helios</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>eurynome</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>theia</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>eurybia</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>gaia</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>hypnos</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>morpheus</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>nesoi</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>helios</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>eurynome</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>theia</td><td>c</td><td>completed</td><td></td></tr>
        <tr><td>eurybia</td><td>c</td><td>completed</td><td></td></tr>

        <tr><td>sw-acc.4.1</td><td>d</td><td>configured</td><td></td></tr>
        <tr><td>eurytus</td><td>d</td><td>completed</td><td></td></tr>
        <tr><td>clytius</td><td>d</td><td>completed</td><td></td></tr>
        <tr><td>lelantos</td><td>d</td><td>completed</td><td></td></tr>
        <tr><td>hippolytus</td><td>d</td><td>completed</td><td></td></tr>
        <tr><td>mimas</td><td>d</td><td>completed</td><td></td></tr>
        <tr><td>brontes</td><td>d</td><td>completed</td><td></td></tr>
        <tr><td>porphyrion</td><td>d</td><td>completed</td><td></td></tr>
        <tr><td>thoon</td><td>d</td><td>completed</td><td></td></tr>
        <tr><td>arges</td><td>d</td><td>completed</td><td></td></tr>
        <tr><td>argus</td><td>d</td><td>completed</td><td></td></tr>
        <tr><td>antiphates</td><td>d</td><td>completed</td><td></td></tr>
        <tr><td>cacus</td><td>d</td><td>completed</td><td></td></tr>
        <tr><td>anax</td><td>d</td><td>completed</td><td></td></tr>
        <tr><td>lion</td><td>d</td><td>deferred</td><td></td></tr>
        <tr><td>nemesis</td><td>d</td><td>deferred</td><td></td></tr>
        <tr><td>gration</td><td>d</td><td>deferred</td><td></td></tr>
        <tr><td>aion</td><td>d</td><td>completed</td><td></td></tr>
        <tr><td>leon</td><td>d</td><td>completed</td><td></td></tr>
        <tr><td>talos</td><td>d</td><td>completed</td><td></td></tr>
        <tr><td>tityos</td><td>d</td><td>completed</td><td></td></tr>
    </tbody>
</table>

<h3>Stage Two</h3>
<p>The next stage will be to make physical changes to the network. This includes adding a redundant switch for every server (moving to 2x 10G) and redistributing links to and inside  our core. Details to follow.</p>
