<h1>Glossary of Feral terms</h1>

<p>
	Despite trying to cover the very basics in these articles it is still sometimes necessary to use terms that you may not be familiar with. This is because sometimes entire concepts have been reduced down to a single label and trying to expand to explain each time ends up being either more confusing or repetitive.
</p>

<p>
	To plug that gap, this glossary aims to define and explain certain terms and concepts. The list is alphabetical but even so you may find it more convenient to use your browser's find/search function to search for the term. Please consult your browser's documentation for help on exactly how to use this function as it differs between browsers.
</p>

<p>
	The glossary also describes discouraged terms which you're encouraged a) to replace if you see them in wiki articles and b) to not use them in tickets; use their recommended alternatives instead.
</p>

<p>
	<strong>Please note</strong> that the terms are defined according to their usage in the <em>wiki</em> section, not according to other usage. It might be possible to use a term differently in another context.
</p>

<p>Please feel free to open a ticket if you'd like a term added.</p>

<dl>
	<dt><dfn>Client</dfn></dt>
	<dd>This does not refer to you as a user (i.e. as a client of Feral), but instead refers to software which interacts with your server.</dd>

	<dt><dfn>Instance</dfn></dt>
	<dd>
		The actual, concrete example of a running piece of software. For example, it's possible to have Deluge running twice on your slot using different config files: you would in this example have two instances of Deluge running.
	</dd>

	<dt>Seedbox</dt>
	<dd>
		Discouraged. An ambiguous term that is used by some to describe their entire space at Feral and others to describe a torrent client. If you mean the former, use slot; if you mean the latter use the name of the software.
	</dd>

	<dt><dfn>Slot</dfn></dt>
	<dd>The space you're given on a server. It's possible to own several slots, but slots under the same username will be on different servers.</dd>

	<dt><dfn>Slot type</dfn></dt>
	<dd>The package your purchase from Feral, e.g. Helium-8 or Neon SSD.</dd>

	<dt><dfn>Variable</dfn></dt>
	<dd>
		Represents something else. For example, <var>user</var> is used to represent your username. If something is described as a variable do not enter it as written; replace it with the information the variable describes.
	</dd>
</dl>