<h1>Getting Started - Notes</h1>

<p>This page intends to set out some notes on the basic user pages. It may be amended as thoughts develop. Merges with existing sections (e.g. the contributing guide), hiving off into separate pages for bigger issues and so on are is encouraged where appropriate.</p>

<h2>The aim of the Getting Started section</h2>

<p>
    The chief aim of the Getting Started section is to provide the most fundamental help on how to use the slot. Whilst some wiki/guides may assume simply operate on a sliding scale of technical knowledge/experience/competence, in practice users can differ largely on other bases too. This includes - not having English as a first language, having visual impairments or learning difficulties, to name just three.
</p>

<p>
    Pages in the Getting Started section therefore must cover all aspects of using the Feral website itself and also bridge the gap between the user who would struggle to use anything beyond the web manager and the more advanced user who isn't afraid to "get involved". The pages must also be accesible. What that means will be added later.
</p>


<h3>Covering the basics</h3>

<p>
    This will provide support for the website itself and therefore needs to cover the following issues at least:
</p>

<ul>
    <li>Registering for Feral account (if wiki accessible without being logged in)</li>
    <li>Purchasing a slot</li>
    <li>The Feral web manager
        <ul>
            <li>Opening a ticket</li>
            <li>Finding out slot details</li>
            <li>Renewals
                <ul>
                    <li>Payment problems</li>           
                </ul>
            </li>
            <li>Installing software</li>
        </ul>
    </li>
    <li>Cancelling</li>
    <li>Common questions (? - could be added to individual pages, or kept as a "cheat sheet" page)</li>
    <li>Using (S)FTP</li>
    <li>Upgrading</li>
    <li>Feral dictionary</li>
    <li>Basic rules</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<h3>Becoming more advanced</h3>

<p>
    The <a href="../contributing">guide to contributing</a> sets out numerous different user types, what it calls "target audiences" to tailor a wiki article towards. Each of these target audiences entails an assumed level of knowledge and does not start from scratch each time. To give an example: the vast majority of software which cannot be installed via Feral's own web manager must be installed via SSH and therefore the target audience of those articles is assumed to be able to log in to their slot via that method.
    </p>

<p>
    In practice of course there are a large number of users who want the software but cannot perform basics like logging in via SSH. There needs to be something to bring those more casual users up to the level where they can carry out the instructions they need to. 
</p>

<p>The following pages should be created. Please note this is not an exhaustive list</p>

<ul>
    <li>Finding user IP</li>
    <li>Cron jobs</li>
    <li>Diagnosing problems</li>
    <li>Connecting via SSH</li>
    <li>Changing software passwords</li>
    <li>Using the command line</li>
    <li></li>
</ul>
